
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Journey Planner
Exec=/usr/bin/trafikanten
Type=Application
Icon=trafikanten
X-Window-Icon=trafikanten
X-Osso-Type=application/x-executable
X-Text-Domain=trafikanten
